/*generics*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    /*border: 2px solid black;*/
}

h1{
    font-size: 70px;
    font-weight: 900;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 25px;
}
/*utilities*/
:root{
    --blue: #0061FF;
    --azure: #B4D0E7;
    --lightgray: #E1E1E3;
    --time-color: #68686D;
}

.underline{
    text-decoration: underline;
}

.container{
    width: 1200px;
    margin: auto;
    padding-top: 80px;
}

.small-container{
    width: 1000px;
    margin: auto;
    padding: 80px 0;
}

.button{
    padding: 5px 15px;
    text-decoration: none;
    border: 2px solid black;
}

.button-free-try{
    padding: 5px 15px;
    text-decoration: none;
    color: black;
    background-color: white;
    width: 280px;
    text-align: center;
}

.bl-button{
    background-color: var(--blue);
    color: white;
    padding: 5px 15px;
}

.big{
    padding: 10px 15px;
}

.bg-az{
    background-color: var(--azure);
}

.inline-block{
    display: block-block;
}

.row{
    display: flex;
    flex-direction: column;
}

/*header*/
.header{
    background-color: white;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.header *{
    margin: 0 20px;
}

.color-change>a:not(:last-child){
    color: black;
}

.nav-bar{
    display: flex;
    align-items: center;
}

.nav-bar a{
    color: black;
}

/*main*/

/*jumbotron*/
.margin-header{
    margin-top: 80px;
}

.img-jumbo{
    height: 500px;
    float: right;
    margin: 0;
}

.jumbo-margin{
    margin-top: 50px;
}

.arrow-down{
    font-size: 50px;
    margin-bottom: 20px;
}

/*iscription type*/

.plan > *{
    margin-top: 60px;
}

.selection *{
    padding: 0 10px;
}

.iscription{
    display: flex;
    justify-content: space-between;
}

.is-box{
    width: 28%;
    border: 1px solid var(--lightgray);
}

.is-type{
    padding: 20px;
    border-bottom: 1px solid var(--lightgray);
    display: flex;
    justify-content: center;
}

.is-border{
    padding: 20px 10px;
    text-align: left;
}

.is-border > *{
    padding: 8px 0;
}

.selection-time{
    color: var(--time-color);
}

.is-description{
    padding: 20px 0px;
    text-align: left;
}

.is-description > *{
    padding: 8px 0;
}
.is-description li{
    margin-left: 30px;
    font-size: 30px;
    line-height: 1rem;
}

li span{
    font-size: 1rem;
}

.n-user{
    list-style-image: url(../img/user-solid.svg)
}

.space{
    list-style-image: url(../img/folder-solid.svg);
}

.share{
    list-style-image: url(../img/share-nodes-solid.svg);
}

.is-button{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    text-decoration: none;
}

.border-bottom{
    border-bottom: 1px solid var(--lightgray);
    padding-bottom: 30px;
}

.is-list{
    margin-top: 50px;
    padding-left: 10px;
}

.space-list{
    margin-left: 40px;
    padding: 10px 0;
    list-style-image: url(../img/check-solid.svg);
    font-size: 30px;
    line-height: 1rem;
}

.space-list >span{
    font-size: 1rem;
}

.is-large-box{
    width: 100%;
    border: 1px solid var(--lightgray);
    margin-bottom: 200px;
}

.is-contact{
    display: flex;
    padding: 40px;
    justify-content: space-between;
}

.contact-button{
    text-decoration: none;
    width: 280px;
    max-height: 45px;
    text-align: center;
}

.last-is-bottom{
    margin-bottom: 20px;
}

.last-is-big-bottom{
    margin-bottom: 40px;
}

/*partner*/
.sub-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partner-img{
    height: 500px;
}

.partner-space > *{
    margin: 25px;
}

/*dopbox buisness*/
.buisness-title{
    margin-bottom: 30px;
}

.figcaption{
    display: flex;
    width: 1000px;
    justify-content: center;
    align-items: baseline;
}

.figure{
    width: calc(100% / 3);
    padding: 30px 20px;
}

.img{
    width: calc(1000px/3 - 50px);
}

.last-buis{
    margin-bottom: 100px;
}

.buis-end{
    margin-bottom: 50px;
}

/*designit*/
.bg-disignit{
    background-color: #A2D39B;
}

.bg-florida{
    background-color: #0093CE;
}

.bg-arizona{
    background-color: #61082B;
}

.bg-topps{
    background-color: #FF1C1C;
}

.bg-world{
    background-color: #D5001F;
}

.bg-lonely{
    background-color: #0D2481;
}

.bg-hearts{
    background-color: #B4D0E7;
}

.bg-clear{
    background-color: #FFD830;
}

.designit-principal{
    background-color: #F5F5F5;
    width: calc(100% /3);
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.designit-principal *{
    margin: 15px 0;
}

.designit-principal img{
    width: 200px;
}

.designit-principal hr{
    width: 50px;
}

.designit{
    display: flex;
}

.designit-box{
    width: calc(100% / 3);
    display: flex;
}

.designit-row{
    text-align: center;
}

.designit-column img{
    width: 150px;
    filter: invert(100%);
}

.designit-column{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 260px;
}

.free-try{
    background-color: #B4D0E7;
    height: 250px;
    margin-bottom: 50px;
}

.free-try h2{
    color: #61082B;
}

.free-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*questions*/

.questions *{
    margin: 20px 0;
}

.questions h2{
    margin: 50px 0;
}

.questions-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

/*footer*/
footer{
    background-color: black;
}

.footer-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0 20px 0;
}

.footer-flex li{
    color: white;
    margin-bottom: 10px;
    list-style-type: none;
}

.footer-flex li:first-child{
    margin-bottom: 20px;
}

.footer-flex a{
    color: white;
}

.language{
    width: 100px;
    margin-left: 260px;
    padding: 80px 0 20px 0;
}

.language *{
    color: white;
    margin-bottom: 50px;
}